@charset "utf-8";
/*Css document*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin: 0;padding: 0;}
img{border: none;}
ul,li{list-style: none;}
input,select,textarea{outline: none;border:none;background: none;}
textarea{resize: none;}
a{text-decoration: none;color:#656565 ;}
/*清除浮动*/
.clearfix:after{content: "";display: block;clear: both;}
.clearfix{zoom: 1;}
.fl{float: left;}   /*需要用到左右浮动的直接在后面加上fl/fr*/
.fr{float: right;}
